<div class="headline">
  <h1>Smart Lock!</h1>
  <p>A new approach on how security systems are implemented in this modern age via IoT
</div>
<div class=content-container>
  <!-- <div class="sidemenu">
    <mat-sidenav-container>
      <mat-sidenav-content>
        <button mat-button class="sidenav-menu"><i class="material-icons">lock</i> What is Smart Lock?</button>
        <button mat-button class="sidenav-menu"><i class="material-icons">shopping_cart</i> Checkout our Product Line</button>
        <button mat-button class="sidenav-menu"><i class="material-icons">receipt</i> News and FAQ</button>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div> -->
  <div class="content">
    <div>Welcome to Rentaka Smart Lock Landing Page</div><br>
    <img class="img" src="/assets/img/hardwork.jpg"/>
    <br><hr><br>
    <div>What you see here shall be the content of the page explaining the product</div><br>
    <div>
      <div class="product">
        <img class="img-product" src="/assets/img/dogo.jpg"/><br>
        <button class="btn">Buy Me!</button>
      </div>
      <div class="product">
        <img class="img-product" src="/assets/img/snek.jpg"/><br>
        <button class="btn">Buy Me!</button>
      </div>
      <div class="product">
        <img class="img-product" src="/assets/img/catto.jpg"/><br>
        <button class="btn">Buy Me!</button>
      </div>
    </div>
    <br><hr><br>
    <div>
      Leave your email for our newsletters and offers. Dont forget to visit the FAQ
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email">
        </mat-form-field>
        <button class="btn">Submit</button>
      </form>
      <button class="btn">Visit FAQ</button>
    </div>
  </div>
</div>
