<div class=content-container>
  <div class="sidemenu">
    <mat-sidenav-container>
      <mat-sidenav-content>
        <button mat-button class="sidenav-menu">Click this for the main content</button>
        <button mat-button class="sidenav-menu">Click this for the order page</button>
        <button mat-button class="sidenav-menu">Click this to the quotation page</button>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <div class="content">
    <div>Welcome to Rentaka Smart Lock Landing Page</div><hr>
    <div>What you see here shall be the content of the page explaining the product</div><hr>
    <div>This one shall be the product available and will link to an order page</div>
  </div>
</div>
