
<div class="container">
  <img class="img" src="/assets/img/doge.png" width="100px" height="100px"/>
  <form [formGroup]="login">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" formControlName="email"/>
    </mat-form-field><br>
    <mat-form-field class="example-full-width">
      <input matInput type="password" placeholder="Password" formControlName="password"/>
    </mat-form-field><br>
    <button mat-button (click)="logIn()">Login</button><button mat-button (click)="signUp()">Sign Up</button>
  </form>
</div>
