<!--The content below is only a placeholder and can be replaced.-->
<mat-card class="header">
  <button mat-button class="logo" routerLink="/"><img class="img" src="/assets/img/doge.png"/> Smart Lock</button>
  <button mat-button class="nav-btn" *ngIf="loggedIn" (click)="dashboard()">Dashboard</button>
  <button mat-button class="nav-btn"*ngIf="loggedIn; else elseBlock" (click)="logOut()">Logout</button>
  <ng-template #elseBlock>
    <button mat-button class="nav-btn" routerLink="/login">Login</button>
  </ng-template>
</mat-card>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="footer-container">
  <div class="footer-content">Smart Lock Access Control System</div>
  <div class="footer-content">Created and programmed by Wan Akashah and Iman Fitri</div>
  <div class="footer-content">Currrent Version: 0.0.1</div>
</footer>
