.sidemenu{
  float:left;
  width: 20%;
  padding: 20px;
}
.sidenav-menu{
  text-align: left;
  display: block;
  width: 100%;
  font-size: 16px;
  background-color: #e9ecef;
  padding: 0.5rem 0 0.5rem 3rem;
}
.content-container{
  content: "";
  clear: both;
  display: table;
  width:100%;
}
.content{
  display: inline-block;
  padding: 10px;
  width: 75%;
}
.content-stat{
  width: 100%;
  padding-top: 2rem;
}
.stat{
  display: inline-block;
  background-color: #e9ecef;
  padding: 1rem 3rem 1rem 3rem;
  margin: 0 1rem 0 1rem;
}
