<div class=content-container>
  <div class="sidemenu">
    <mat-sidenav-container>
      <mat-sidenav-content>
        <button mat-button class="sidenav-menu">Click this for the main content</button>
        <button mat-button class="sidenav-menu">Click this for the order page</button>
        <button mat-button class="sidenav-menu">Click this to the quotation page</button>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <div class="content">
    <h1>Content</h1>
  </div>
</div>
